body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    color: #5f9341;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 15%;
    padding-bottom: 15%;
}